Package: ledger
Version: 1.0.0+state-copy
Architecture: amd64
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: init-system-helpers (>= 1.18~), libzmq5 (>= 4.2.1~), openssl (>= 1.1~)
Section: openbank
Priority: extra
Vcs-Git: git@github.com:jancajthaml-openbank/ledger.git
Description: Openbank transaction ledger
