Package: ledger
Version: 1.1.1+timeouts
Section: misc
Priority: extra
Architecture: amd64
Vcs-Git: https://github.com/jancajthaml-openbank/ledger.git
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: libzmq5 (>= 4.2.1~), openssl (>= 1.1~), libc6
Description: transaction ledger for openbank
 Service holding transaction journal for OpenBank services.
