[Unit]
Description=openbank transaction ledger configuration watcher
StartLimitBurst=5

[Service]
Type=simple
ExecStartPre=echo 'restarting ledger (configuration has changed)'
ExecStart=/bin/sh -c 'systemctl restart ledger.service'

[Install]
WantedBy=ledger.service