#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_BUILD_OPTIONS = parallel=$(shell getconf _NPROCESSORS_ONLN)

SUBSTVARS = -Vshlibs:Depends="libc6"

%:
	+dh $@ -P debian/target/${DEB_HOST_ARCH_OS}-${DEB_HOST_ARCH_CPU} --with=systemd

override_dh_systemd_enable:
	dh_systemd_enable -pledger --name=ledger ledger.service
	dh_systemd_enable -pledger --name=ledger-watcher ledger-watcher.path
	dh_systemd_enable -pledger --name=ledger-watcher ledger-watcher.service
	dh_systemd_enable -pledger --name=ledger-rest ledger-rest.service
	dh_systemd_enable -pledger --name=ledger-unit@ ledger-unit@.service

override_dh_systemd_start:
	dh_systemd_start -pledger --name=ledger ledger.service
	dh_systemd_start -pledger --name=ledger-watcher ledger-watcher.path
	dh_systemd_start -pledger --name=ledger-watcher ledger-watcher.service
	dh_systemd_start -pledger --name=ledger-rest ledger-rest.service

override_dh_installinit:
	dh_installinit -pledger --noscripts
	@mv \
		debian/target/${DEB_HOST_ARCH_OS}-${DEB_HOST_ARCH_CPU}/usr/bin/ledger-rest-* \
		debian/target/${DEB_HOST_ARCH_OS}-${DEB_HOST_ARCH_CPU}/usr/bin/ledger-rest
	@mv \
		debian/target/${DEB_HOST_ARCH_OS}-${DEB_HOST_ARCH_CPU}/usr/bin/ledger-unit-* \
		debian/target/${DEB_HOST_ARCH_OS}-${DEB_HOST_ARCH_CPU}/usr/bin/ledger-unit

override_dh_strip:

override_dh_shlibdeps:

override_dh_builddeb:
	dpkg-deb --build debian/target/${DEB_HOST_ARCH_OS}-${DEB_HOST_ARCH_CPU} bin

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)

clean:
	find ".." -name "ledger_*_${DEB_HOST_ARCH_OS}-${DEB_HOST_ARCH_CPU}.changes" -exec mv {} bin/ \;
	rm -f debian/debhelper-build-stamp || :
	rm -f debian/files || :
	rm -rf debian/target/${DEB_HOST_ARCH_OS}-${DEB_HOST_ARCH_CPU} || :
	rm -rf debian/*.debhelper* || :
	rm -rf debian/*.substvars || :
