name: "DevSkim"

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
  schedule:
    - cron: '0 1 * * 3'

jobs:
  analyse:
    name: Analyse
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: microsoft/devskim-action@v1
      with:
        directory-to-scan: services
        should-scan-archives: false
        output-filename: devskim-results.sarif
    - uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: devskim-results.sarif
